*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s liner;
    transition: width none;

}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}



.heading span{
    font-size: 3rem;
    padding: 2rem 2rem;
    color: rgba(0, 0, 0, 0.79);
    background: white;
    border: 0.2rem solid rgba(0, 0, 0, 0.428);
}
section{
    padding:5rem 9%;

}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;

 }
.header .header-1{
    background: white;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border:hsl(from color h s l);
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form .input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
}

#search-btn{
    display: none;
}

.header .header-2{
    background: rgba(196, 121, 206, 0.875);
    
}
.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color: white;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background: rgba(122, 29, 103, 0.399);
}

.home{
    background: rgba(229, 205, 230, 0.589);
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.home .row .content{
    flex: 1 1 42rem;
    text-align: center;
    
}

.home .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.home .row .books-slider a img{
    height: 25rem;
}
.home .row .books-slider a:hover img{
    transform:scale(.9);
}
.home .row .content h2{
    color: black;
    font-size: 5rem;
}
.home .row .content p{
    color: rgb(71, 64, 64);
    font-size: 1.2rem;
    line-height: 2;
    padding: 1rem 0;
}
.home .row .content a{
    color:rgb(232, 78, 232);
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 0;
}
.home .row .content a:hover{
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

.featured .featured-slider .box{
    justify-content: center;
    width: 25rem;
    margin: 2rem 0;
    overflow: hidden;

}
.featured .featured-slider .box .image{
    padding: 1rem;
    position: relative;
    background:linear-gradient(15deg,#eee 30%),#fff 30.1% ;
}
.featured .featured-slider .box .image img{
    height: 25rem;
    width: 15rem;
}
.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}
.featured .featured-slider .box .h2{
    font-size: 2rem;
    
    color: black;
}
.featured .featured-slider .box .price{
    font-size: 2.2rem;
    padding-top: 1.5rem;
    color: black;
}
.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    color:rgb(91, 91, 91);
}
.swiper-slide {
    float: left;
}

